@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&family=Dongle:wght@300;400;700&family=Libre+Barcode+128+Text&family=Press+Start+2P&family=Rock+Salt&display=swap');

:root{
    --font-Berkshire:'Berkshire Swash', cursive;
    --font-Cinzel: 'Cinzel', serif;
    --font-Cinzel-Decorative: 'Cinzel Decorative', cursive;
    --font-Dongle: 'Dongle', sans-serif;
    --font-Barcode: 'Libre Barcode 128 Text', cursive;
    --font-2P: 'Press Start 2P', cursive;
    --font-Rock-Salt: 'Rock Salt', cursive;
    --color-blue:#2ec4b6
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    color:#fff;
}
body{
    font-size: 62.5%;
    font-family: 'Berkshire Swash', cursive;
    /* font-family: 'Cinzel', serif; */
    /* font-family: 'Cinzel Decorative', cursive; */
    /* font-family: 'Dongle', sans-serif; */
    /* font-family: 'Libre Barcode 128 Text', cursive; */
    /* font-family: 'Press Start 2P', cursive; */

}
section{
    min-height: 100vh;
    overflow:hidden;
}
#bg-img::before,
#bg-img::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#bg-img::before{
    background-image: url('./img/1671399.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
    height:100%;
}
#bg-img::after{ 
    background-color:rgba(0, 0, 0, 0.507);
    z-index: -1;
    height:100%;

}
#sec-intro{
    max-height: 100vh;
    font-size:2em;
    color: #fff;
}
.container{
    background-color: #111!important;
    opacity: 0.5;
}
#sec-intro #logo a{
    font-size:1.2em;
    font-family: var(--font-Rock-Salt);
    position:fixed;
    padding:1em;
    color: var(--color-blue);
}
#sec-intro .box{
    display:flex;
    background-color:rgba(0, 0, 0, 0.53);
    height:100vh;
}

#sec-intro .box>div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    flex:1;
}
#intro-details span{
    font-size:2em;
}
#intro-details span.what{
    color: #aaa;
    font-family: var(--font-Dongle);
    font-size: 2em;
    line-height:1;
}
#intro-details span.ans{
    color: #fff;
    font-size: 3em;
}
#intro-img{
    flex:1;
}
#intro-img img{
    padding:0em;
    border-radius: 50%;
    max-width: 80%;
    width: 400px;
}
#sec-intro #social-links{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    height:100%;
    padding:1em;
}
#sec-intro #social-links a:hover{
    border-radius: 50%;
    background-color:#fff;
}
#sec-intro #social-links a{
    margin-top: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

}
/* About */

#sec-about{
    background-color: #222;
    padding:5em;
    font-size:2em;

}
#sec-about .box{
    display: flex;
    gap: 150px;
    align-items: center;
}
#sec-about p{
    font-family: var(--font-Dongle);
    font-size: 1.7em;
    line-height: 1;
}

#sec-about .box>div{
    flex:1;
    display: flex;
    flex-direction: column;
}

#about-img img{
    width: 500px;
}

.sec-header{
    font-size:2em;
    font-family: var(--font-Cinzel-Decorative);
    margin: 1em 0;
}
.sec-header span{
    margin:0 0.1em;
}
.sec-header .em{
    color: var(--color-blue);
}
.sec-header .arrow::after{
    content: "";
    display: inline-block;
    min-width: 100px;
    min-height: 2px;
    background-color: var(--color-blue);
}

/* Tech */
#sec-tech{
    background-color: #111;
    padding:2em;
    font-size:2em;
}
#sec-tech #tech-container{
    width: 80%;
    margin: 0 auto;
    padding:2em;
}
#sec-tech #tech{
    padding:2em;
    border-radius: 10px  ;
    background-color: #222;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
}

#sec-tech .tech-box:hover{
    border:2px solid var(--color-blue);
}
#sec-tech .tech-box{
    flex:1;
    min-width: 150px;
    max-width: fit-content;
    margin: 1em;
    padding:0.3em 0.3em 0em 0.3em;
    border-radius:8px;
    border:2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    font-family: var(--font-Dongle);
    font-size: 1.2em;
}
/* Profile */
#sec-projects{
    /* background-color: #111; */
    background-color: #222;
    padding:2em;
    font-size:2em;
}
#sec-projects #projects-box{
    margin: 1em;
}
#sec-projects nav{
    /* background-color: #444; */
    width: fit-content;
    display:inline-flex;
    gap:5px;
}

#sec-projects button{
    display:inline-block;
    background-color: transparent;
    background-color: #555;
    border: none;
    outline: none;
    font-size:1.5em;
    padding:0.2em 1em;
    font-family: var(--font-Dongle);
    cursor:pointer;
    border-radius: 8px 8px 0 0 ;
}
#sec-projects button:hover{
    background-color: #45473a;
} 

#sec-projects button.active{
    background-color: #797d62;
} 
#sec-projects #projects{
    min-height:400px;
    background-color: #797d62;
    width: 100%;
    padding:2em;
    border-radius:0 8px 8px 8px ;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: var(--font-Dongle);
}
#sec-projects .projects-card {
    border:2px solid #fdffb6;
    border-radius:8px;
    background-color:#fdffb6;
    margin:1em;
    
}
#sec-projects #projects img{
    border-radius:8px 8px 2px 2px;
    max-width: 400px;
    object-fit: contain;
    /* min-height:100%; */
}
#sec-projects .projects-card .desc span{
    display:block;
    text-align: center;
    line-height: 1;
    font-size:2em;
    color:#023047;
    font-weight:bold;
}

/* Scroll Bar */
::-webkit-scrollbar{
    width: 5px;
    background-color: #111;
    display: none;
}
::-webkit-scrollbar-thumb{
    background-color:var(--color-blue);
    border-radius: 8px;
}

footer{
    font-size:2em;
    background-color: #111;
    position: fixed;
    bottom: 0;
    right: 0;
    padding:0.2em;
}